<div class="row valign-wrapper drag">

  <div class="center" *ngIf="!results.length">
    <div class="preloader-wrapper small active">
      <div class="spinner-layer spinner-blue-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
      </div>
    </div>
  </div>

  <span class="swing coin no-drag" *ngFor="let result of results" (click)="viewCoin( result )">
      <img *ngIf="settings[ 'SHOW_IMAGE_BAR' ] || settings[ 'SHOW_ONLY_IMAGE_BAR' ]" src="https://files.coinmarketcap.com/static/img/coins/64x64/{{ result[ 'id' ] }}.png" width="20" class="responsive-img rounded" style="padding: 1px;" />
      <sup style="color: #AAA;" *ngIf="!settings[ 'SHOW_ONLY_IMAGE_BAR' ]">{{ result[ settings[ 'COIN_DISPLAY' ] ] }}</sup>
      <sub>
        <i class="material-icons" [ngClass]="{ 'green-text': getPercentChangeArrow( result ) > 0, 'red-text': getPercentChangeArrow( result ) < 0 }">
          {{ getPercentChangeArrow( result ) > 0 ? "arrow_drop_up" : "arrow_drop_down" }}
        </i>
      </sub>
      <sup>
        {{ getPercentChangeArrow( result ) }}%  
        <span class="separator"> </span>
      </sup>
  </span>

  <span style="position: absolute; right: 0; padding: 5px 10px 0 0;">
    <span class="swing exchange right no-drag" *ngFor="let exchange of exchanges" (click)="viewExchange( exchange )">
      <sup>{{ exchange[ 'name' ] }}</sup>
    </span>
  </span>

</div>
